<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
Localization.plist
Copilot

Created by Jamal on 9/28/23.
Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>

        <key>welcomeToCopilot</key>
        <dict>
            <key>tr</key>
            <string>COPILOT’a Hoş Geldiniz</string>
            <key>en</key>
            <string>Welcome to COPILOT</string>
        </dict>
        
        <key>welcomeMessage</key>
        <dict>
            <key>tr</key>
            <string>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </string>
            <key>en</key>
            <string>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </string>
        </dict>
        
        <key>carService</key>
        <dict>
            <key>tr</key>
            <string>Araba Servis</string>
            <key>en</key>
            <string>Car Service</string>
        </dict>
        
        <key>support</key>
        <dict>
            <key>tr</key>
            <string>Destek</string>
            <key>en</key>
            <string>Support</string>
        </dict>
        
        <key>roadAssistance</key>
        <dict>
            <key>tr</key>
            <string>Yol Yardım</string>
            <key>en</key>
            <string>Road Assistance</string>
        </dict>
        
        <key>moveForward</key>
        <dict>
            <key>tr</key>
            <string>İlerle</string>
            <key>en</key>
            <string>Move Forward</string>
        </dict>
        
        <key>skip</key>
        <dict>
            <key>tr</key>
            <string>Atla</string>
            <key>en</key>
            <string>Skip</string>
        </dict>
        
        <key>login</key>
        <dict>
            <key>tr</key>
            <string>Giriş Yap</string>
            <key>en</key>
            <string>Login</string>
        </dict>
        
        <key>ifNotMember</key>
        <dict>
            <key>tr</key>
            <string>Üye Değilseniz</string>
            <key>en</key>
            <string>If you are not a member</string>
        </dict>
        
        <key>becomeMember</key>
        <dict>
            <key>tr</key>
            <string>Üye Ol</string>
            <key>en</key>
            <string>become a member</string>
        </dict>
        
        <key>email</key>
        <dict>
            <key>tr</key>
            <string>E-Posta</string>
            <key>en</key>
            <string>Email</string>
        </dict>
        
        <key>yourEmailAdress</key>
        <dict>
            <key>tr</key>
            <string>E-Mail Adresiniz</string>
            <key>en</key>
            <string>your email adress</string>
        </dict>
        
        <key>emailIncorrect</key>
        <dict>
            <key>tr</key>
            <string>Mail adresi hatalı</string>
            <key>en</key>
            <string>Email address is incorrect</string>
        </dict>
        
        <key>loginDescription</key>
        <dict>
            <key>tr</key>
            <string>Giriş yapmak için mail adresinizi ve şifrenizi girebilirsiniz.</string>
            <key>en</key>
            <string>You can enter your e-mail address and password to log in.</string>
        </dict>
        
        <key>password</key>
        <dict>
            <key>tr</key>
            <string>Şifre</string>
            <key>en</key>
            <string>Password</string>
        </dict>
        
        <key>repeatPassword</key>
        <dict>
            <key>tr</key>
            <string>Şifre Tekrar</string>
            <key>en</key>
            <string>Repeat Password</string>
        </dict>
        
        <key>forgotMyPassword</key>
        <dict>
            <key>tr</key>
            <string>Şifremi Unuttum</string>
            <key>en</key>
            <string>I forgot my password</string>
        </dict>
        
        <key>rememberMe</key>
        <dict>
            <key>tr</key>
            <string>Beni Hatırla</string>
            <key>en</key>
            <string>Remember me</string>
        </dict>
        
        <key>signupDescription</key>
        <dict>
            <key>tr</key>
            <string>Kayıt olmak için istenilen bilgileri doldurunuz.</string>
            <key>en</key>
            <string>Fill in the requested information to register.</string>
        </dict>
        
        <key>nameSurname</key>
        <dict>
            <key>tr</key>
            <string>İsim Soyisim</string>
            <key>en</key>
            <string>Name surname</string>
        </dict>
        
        <key>phoneNumber</key>
        <dict>
            <key>tr</key>
            <string>Telefon Numarası</string>
            <key>en</key>
            <string>Phone number</string>
        </dict>
        
        <key>mobilePhone</key>
        <dict>
            <key>tr</key>
            <string>Cep Telefonu</string>
            <key>en</key>
            <string>Mobile phone</string>
        </dict>
        
        <key>tcTaxNumber</key>
        <dict>
            <key>tr</key>
            <string>TC Kimlik Numarası /Vergi Kimlik Numarası</string>
            <key>en</key>
            <string>TR Identification Number / Tax Identification Number</string>
        </dict>
        
        <key>taxIdNumber</key>
        <dict>
            <key>tr</key>
            <string>Vergi Kimlik Numarası</string>
            <key>en</key>
            <string>Tax Identification Number</string>
        </dict>
        
        <key>plateNumber</key>
        <dict>
            <key>tr</key>
            <string>Plaka</string>
            <key>en</key>
            <string>Plate Number</string>
        </dict>

        <key>vehicleLicenseNumber</key>
        <dict>
            <key>tr</key>
            <string>Araç Ruhsat Numarası</string>
            <key>en</key>
            <string>Vehicle License Number</string>
        </dict>
        
        <key>marketingApprovement</key>
        <dict>
            <key>tr</key>
            <string>Ürün,hizmet ve kampanyalardan haberdar olmak için 6563 sayılı Kanun ve mevzuatı kapsamında aksi tarafımca belirtilene kadar ticari elektronik ileti gönderilmesine izin veriyorum.</string>
            <key>en</key>
            <string>In order to be informed about products, services and campaigns, I allow commercial electronic messages to be sent within the scope of Law No. 6563 and its legislation until I specify otherwise.</string>
        </dict>
        
        <key>sms</key>
        <dict>
            <key>tr</key>
            <string>SMS</string>
            <key>en</key>
            <string>SMS</string>
        </dict>
        
        <key>telefon</key>
        <dict>
            <key>tr</key>
            <string>Telefon</string>
            <key>en</key>
            <string>Telefon</string>
        </dict>
        
        <key>emailPlaceholder</key>
        <dict>
            <key>tr</key>
            <string>Email</string>
            <key>en</key>
            <string>Email</string>
        </dict>
        
        <key>areYouMember</key>
        <dict>
            <key>tr</key>
            <string>Üye Misiniz?</string>
            <key>en</key>
            <string>Are you a member?</string>
        </dict>
        
        <key>clarificationDescription</key>
        <dict>
            <key>tr</key>
            <string>Aydınlatma Metni’ni okudum, onaylıyorum.</string>
            <key>en</key>
            <string>I have read the Clarification Text and I approve it.</string>
        </dict>
        
        <key>clarificationText</key>
        <dict>
            <key>tr</key>
            <string>Aydınlatma Metni’</string>
            <key>en</key>
            <string>Clarification Text</string>
        </dict>
        
        <key>clarificationError</key>
        <dict>
            <key>tr</key>
            <string>Aydınlatma Metni Onaylanmalıdır</string>
            <key>en</key>
            <string>Clarification Text Must Be Approved</string>
        </dict>
        

        <key>consentDescription</key>
        <dict>
            <key>tr</key>
            <string>Açık Rıza Metni’ okudum, onaylıyorum.</string>
            <key>en</key>
            <string>I have read the Explicit Consent Text and I approve it.</string>
        </dict>
        
        <key>consentText</key>
        <dict>
            <key>tr</key>
            <string>Açık Rıza Metni’</string>
            <key>en</key>
            <string>Explicit Consent Text</string>
        </dict>
        
        <key>consentError</key>
        <dict>
            <key>tr</key>
            <string>Açık Rıza Metni Onaylanmalı</string>
            <key>en</key>
            <string>Explicit Consent Text Must Be Approved</string>
        </dict>
        
        <key>ok</key>
        <dict>
            <key>tr</key>
            <string>Tamam</string>
            <key>en</key>
            <string>Ok</string>
        </dict>
        
        <key>registrationTitle</key>
        <dict>
            <key>tr</key>
            <string>Kaydınız Oluşturuldu!</string>
            <key>en</key>
            <string>Your Registration has been Created!</string>
        </dict>
        
        <key>registerationMessage</key>
        <dict>
            <key>tr</key>
            <string>Kullanıcı bilgileriniz ile giriş yapabilirsiniz</string>
            <key>en</key>
            <string>You can log in with your user information</string>
        </dict>
        
        <key>forgotPasswordDescription</key>
        <dict>
            <key>tr</key>
            <string>Yeni şifreniz mail adresinize gönderilecektir.</string>
            <key>en</key>
            <string>Your new password will be sent to your e-mail address.</string>
        </dict>
        
        <key>vknPhoneNumber</key>
        <dict>
            <key>tr</key>
            <string>VKN / Telefon Numarası</string>
            <key>en</key>
            <string>TIN / Telephone Number</string>
        </dict>
        
        <key>sendNewPassword</key>
        <dict>
            <key>tr</key>
            <string>Yeni Şifre Gönder</string>
            <key>en</key>
            <string>Send New Password</string>
        </dict>
        
        <key>passwordHasBeenSent</key>
        <dict>
            <key>tr</key>
            <string>Şifreni Gönderildi</string>
            <key>en</key>
            <string>Your password has been sent</string>
        </dict>
        
        <key>passwordSentToEmail</key>
        <dict>
            <key>tr</key>
            <string>Şifreniz mail adresinize gönderildi.</string>
            <key>en</key>
            <string>Your password has been sent to your e-mail address.</string>
        </dict>
        
        <key>vehicleInformation</key>
        <dict>
            <key>tr</key>
            <string>Araç Bilgileri</string>
            <key>en</key>
            <string>Vehicle Information</string>
        </dict>
        
        <key>rentalPeriod</key>
        <dict>
            <key>tr</key>
            <string>Kira Süresi</string>
            <key>en</key>
            <string>Rental Period</string>
        </dict>
        
        <key>kmLimit</key>
        <dict>
            <key>tr</key>
            <string>KM Limiti</string>
            <key>en</key>
            <string>KM Limit</string>
        </dict>
        
        <key>kmUsed</key>
        <dict>
            <key>tr</key>
            <string>Kullanılan KM</string>
            <key>en</key>
            <string>KM used</string>
        </dict>
        
        <key>enterUsedKM</key>
        <dict>
            <key>tr</key>
            <string>Kullanılan KM Girin</string>
            <key>en</key>
            <string>Enter used KM</string>
        </dict>
        
        <key>makeChange</key>
        <dict>
            <key>tr</key>
            <string>Değişiklik Yap</string>
            <key>en</key>
            <string>Make Change</string>
        </dict>
        
        <key>upcomingAppointment</key>
        <dict>
            <key>tr</key>
            <string>Yaklaşan Randevu</string>
            <key>en</key>
            <string>Upcoming Appointment</string>
        </dict>
        
        <key>nearMe</key>
        <dict>
            <key>tr</key>
            <string>Yakınımdakiler</string>
            <key>en</key>
            <string>near me</string>
        </dict>
        
        <key>tireInformation</key>
        <dict>
            <key>tr</key>
            <string>Saklamadaki Lastik Bilgisi</string>
            <key>en</key>
            <string>Tire Information in Storage</string>
        </dict>
        
        <key>petlasTireService</key>
        <dict>
            <key>tr</key>
            <string>Petlas Lastik Servisi</string>
            <key>en</key>
            <string>Petlas Tire Service</string>
        </dict>
        
        <key>latestMaintenanceInformation</key>
        <dict>
            <key>tr</key>
            <string>En Son Bakım Bilgisi</string>
            <key>en</key>
            <string>Latest Maintenance Information</string>
        </dict>
        
        <key>profile</key>
        <dict>
            <key>tr</key>
            <string>Profil</string>
            <key>en</key>
            <string>Profile</string>
        </dict>
        
        <key>campaigns</key>
        <dict>
            <key>tr</key>
            <string>Kampanyalar</string>
            <key>en</key>
            <string>Campaigns</string>
        </dict>
        
        <key>documents</key>
        <dict>
            <key>tr</key>
            <string>Dokümanlar</string>
            <key>en</key>
            <string>Documents</string>
        </dict>
        
        <key>vehicleHGSPasses</key>
        <dict>
            <key>tr</key>
            <string>Araç HGS Geçişleri</string>
            <key>en</key>
            <string>Vehicle HGS Passes</string>
        </dict>
        
        <key>myDemands</key>
        <dict>
            <key>tr</key>
            <string>Taleplerim</string>
            <key>en</key>
            <string>My demands</string>
        </dict>
        
        <key>services</key>
        <dict>
            <key>tr</key>
            <string>Servisler</string>
            <key>en</key>
            <string>Services</string>
        </dict>
        
        <key>settings</key>
        <dict>
            <key>tr</key>
            <string>Ayarlar</string>
            <key>en</key>
            <string>Settings</string>
        </dict>
        
        <key>updateInformation</key>
        <dict>
            <key>tr</key>
            <string>Bilgileri Güncelle</string>
            <key>en</key>
            <string>Update Information</string>
        </dict>
        
        <key>resetPassword</key>
        <dict>
            <key>tr</key>
            <string>Şifre Yenileme</string>
            <key>en</key>
            <string>Reset Password</string>
        </dict>
        
        <key>passwordsShouldBeSame</key>
        <dict>
            <key>tr</key>
            <string>Şifreler aynı olmalı</string>
            <key>en</key>
            <string>Passwords should be same</string>
        </dict>
        
        <key>loading</key>
        <dict>
            <key>tr</key>
            <string>Loading...</string>
            <key>en</key>
            <string>Loading...</string>
        </dict>
        
        <key>incorrectInfo</key>
        <dict>
            <key>tr</key>
            <string>Girdiğiniz bilgiler hatalı!</string>
            <key>en</key>
            <string>The information you entered are incorrect!</string>
        </dict>
        
        <key>loginTryAgainMessage</key>
        <dict>
            <key>tr</key>
            <string>Lütfen bilgilerinizi kontrol edip tekrar deneyin.</string>
            <key>en</key>
            <string>Please check your information and try again.</string>
        </dict>
        
        <key>filters</key>
        <dict>
            <key>tr</key>
            <string>Filtrele</string>
            <key>en</key>
            <string>Filters</string>
        </dict>
        
        <key>error</key>
        <dict>
            <key>tr</key>
            <string>Hata</string>
            <key>en</key>
            <string>Error</string>
        </dict>
        
        <key>oldPassword</key>
        <dict>
            <key>tr</key>
            <string>Eski Şifre</string>
            <key>en</key>
            <string>Old Password</string>
        </dict>
        
        <key>newPassword</key>
        <dict>
            <key>tr</key>
            <string>Yeni Şifre</string>
            <key>en</key>
            <string>New Password</string>
        </dict>
        
        <key>repeatPasswordAgain</key>
        <dict>
            <key>tr</key>
            <string>Yeni Şifre Tekrar</string>
            <key>en</key>
            <string>Repeat Password Again</string>
        </dict>
        
        <key>apply</key>
        <dict>
            <key>tr</key>
            <string>Uygula</string>
            <key>en</key>
            <string>Apply</string>
        </dict>
        
        <key>searchFilter</key>
        <dict>
            <key>tr</key>
            <string>Filtre Ara</string>
            <key>en</key>
            <string>Search Filter</string>
        </dict>
        
        <key>standings</key>
        <dict>
            <key>tr</key>
            <string>Puan Durumu</string>
            <key>en</key>
            <string>Standings</string>
        </dict>
        
        <key>createProccessRequest</key>
        <dict>
            <key>tr</key>
            <string>Süreçsel Talep Oluştur</string>
            <key>en</key>
            <string>Create Process Request</string>
        </dict>
        
        <key>fillOutSatisfaction</key>
        <dict>
            <key>tr</key>
            <string>Memnuniyet Anketi Doldur</string>
            <key>en</key>
            <string>Fill out a Satisfaction Survey</string>
        </dict>
        
        <key>createServiceRequest</key>
        <dict>
            <key>tr</key>
            <string>Servis Talebi Oluştur</string>
            <key>en</key>
            <string>Create a Service Request</string>
        </dict>
        
        <key>createProductRequest</key>
        <dict>
            <key>tr</key>
            <string>Ürün Talebi Oluştur</string>
            <key>en</key>
            <string>Create Product Request</string>
        </dict>
        
        <key>yourScore</key>
        <dict>
            <key>tr</key>
            <string>Puanın</string>
            <key>en</key>
            <string>Your score</string>
        </dict>
        
        <key>point</key>
        <dict>
            <key>tr</key>
            <string>Puan</string>
            <key>en</key>
            <string>Point</string>
        </dict>
        
        <key>save</key>
        <dict>
            <key>tr</key>
            <string>Kaydet</string>
            <key>en</key>
            <string>Save</string>
        </dict>
        
        <key></key>
        <dict>
            <key>tr</key>
            <string></string>
            <key>en</key>
            <string></string>
        </dict>
        
        <key></key>
        <dict>
            <key>tr</key>
            <string></string>
            <key>en</key>
            <string></string>
        </dict>
        
    </dict>
</plist>
